<h2>Here are your entries, friend!</h2>
<h4><a href="/dashboard/<%=current_user.slug%>">Back to Dashboard</a></h4>
<% @entries.each do |entry| %>

  <div> <h4> <%=entry.created_at%> </h4> <%= "Physical: #{entry.rating_physical} - #{entry.content_physical}
            Emotional: #{entry.rating_emotional} - #{entry.content_emotional}
            Intellectual: #{entry.rating_intellectual} - #{entry.content_intellectual}" %>
<p>
  <form action="/entries/<%=entry.id%>/edit" method="get">
    <input type="submit" value="Edit">
  </form>
  <form action="/entries/<%=entry.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</p>
    </div>
<%end%>
